<h1>Set profile picture</h1>
<%= form_for(@child) do |f| %>
	<% if @child.errors.any? %>
    <div id="error_explanation">
      	<h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>
      <ul>
      <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  	<% end %>

	<div class='row'>
		<div class='span4'>
			<% if @child.picture_file_name %>
				<div class='photo-placeholder' style='background-image: url(<%= @child.picture.url(:medium) %>)'></div>
			<% else %>
				<div class='photo-placeholder'></div>
			<% end %>
		</div>
		<div class='span4'>
			<div class='well'>
				<p>Upload a photo for <%= @child.firstname %>. Please make sure it:</p>
				<ul>
					<li>Is a JPEG or PNG file</li>
					<li>Is is less than 2 Mb</li>
				</ul>
			</div>

		    <div class="field">
		      <%= f.label :picture %><br />
		      <%= f.file_field :picture %>
		    </div>
			  <div class="actions">
			    <%= f.submit(:class => 'btn btn-info') %>
			  </div>
		</div>
	</div>

<% end %>
