<div class='title-and-actions'>
  <h1><%= @child.firstname %> <%= @child.lastname %>
  </h1>
<div class='top-right'>
    <%= link_to 'Edit', edit_child_path(@child), :class => 'button' %> 
    <%= link_to 'Journal', journal_url(:id => @child.id), :class => 'button' %>
    <%= link_to 'Delete', @child, method: :delete, :class => 'button button-danger', data: { confirm: 'Are you sure?' } %>
  </div>
</div>

<div class='row'>
  <div class='span4'>
    <% if @child.picture_file_name %>
      <%= link_to 'Update photo...', profile_photo_url(:id => @child.id), {:style=> 'background-image: url(' + @child.picture.url(:medium) + ')', :class => 'photo-placeholder'}  %>
    </a>
    <% else %>
     <%= link_to 'Add photo...', profile_photo_url(:id => @child.id), :class => 'photo-placeholder' %>
    <% end %>
  </div>
  <div class='span6'>
      <%= goals_progress_summary(@entries, @areas) %>
    </table> 
    </table>  
  </div>  
</div>

  <hr/>
  <div class='title-and-actions'>
    <h3>Latest Journal Entries</h3>
    <div class='top-right'>
      <%= link_to '+ Text', new_child_entry_path(@child, :entry_type_id => '1'), :class => 'button' %>
      <%= link_to '+ Observation', new_child_entry_path(@child, :entry_type_id => '2'), :class => 'button' %>
      <%= link_to '+ Photo', new_child_entry_path(@child, :entry_type_id => '3'), :class => 'button' %>
      <%= link_to '+ Art', new_child_entry_path(@child, :entry_type_id => '4'), :class => 'button' %>
    </div>
  </div>

<table class="table">
  <tr>
    <th>Entry type</th>
    <th>Text</th>
    <th>Added</th>
    <th></th>
  </tr>
<% @entries.each do |entry| %>
  <tr>
    <td><%= @entry_types.detect { |et| et.id == entry.entry_type_id }.name %></td>
    <td><%= entry.text %></td>
    <td><%= entry.created_at.strftime("%e %B %Y") %></td>
    <td><%= link_to 'Edit', edit_child_entry_path(@child, entry) %>
    | <%= link_to 'Delete', child_entry_path(@child, entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
