<table class='table child-list'>
  <% @children.each do |child| %>
  <tr>
  	<td>
  		<% if child.picture %>
  			<img src='<%= child.picture %>' />
  		<% else %>
  			<img data-src="holder.js/100x100" alt="">
  		<% end %>
  	</td>
    <td>
      <h3><%= link_to child.firstname + ' ' + child.lastname, child %></h3>
      <p>Last entry: <%= last_entry_date(child) %></p>
      <p>Total entries: <%= child.entries.length %></p>
    </td>
    <td>
      <%= goals_progress_summary(child.entries, @areas) %>
    </td>
    <td>
      <ul>
        <li><%= link_to 'View', child, :class => 'button' %></li>
        <li><%= link_to 'Journal', journal_url(:id => child.id), :class => 'button' %></li>
        <li><%= link_to 'Edit', edit_child_path(child), :class => 'button' %></li>
      </ul
    </td>
  </tr>
<% end %>
</table>