<% if notice %>
    <p id="notice"><%= notice %></p> 
<% end %>
<h1>Forgotten Password</h1>
<%= form_tag("forgotpassword_action", method: "post") do %>
  <%= label_tag(:email, "Email address:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Submit") %>
<% end %>

