<div class="banner">
  <div class="banner-inner">
    <div class="item">
      <img src="/assets/handup.jpg" alt="">
      <div class="container">
        <div class="banner-caption">
          <h1>Any questions?</h1>
          <p class="lead">To find out more about <%= APP_NAME %> please use the details below to get in touch.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="content">
    <h1>Contact Us</h1>
    <div class='row contact'>
      <div class='span6'>
        <%= form_tag("contact_action", method: "post") do %>
          <%= label_tag(:name, "Name:") %>
          <%= text_field_tag(:name) %>
          <%= label_tag(:email, "Email address:") %>
          <%= text_field_tag(:email) %>
          <%= label_tag(:message, "Message:") %>
          <%= text_area_tag(:message) %><br/>
          <%= submit_tag("Submit") %>
        <% end %>
      </div>
      <div class='span5'>
        <div class='well'>
          <h4>Thanks for getting in touch</h4>
          <p>To help us answer your enquiry efficiently please tell us:</p>
          <ul>
              <li>Your account email address, if registered</li>
              <li>The name of your school or nursery</li>
              <li>The urgency of your enquiry</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
