<div class="banner">
  <div class="banner-inner">
    <div class="item">
      <img src="/assets/banner.jpg" alt="">
      <div class="container">
        <div class="banner-caption">
          <h1>Making Learning Journals child's play</h1>
          <p class="lead"><%= APP_NAME %> takes the pain out of creating learning journals. We help you create beautiful journals and save you time, so you can spend more time teaching and impressing your parents.</p>
          <p><%= link_to "Try us for free", { :controller => "about", :action => "trial"} , :class => 'btn btn-large btn-primary' %>
  		    </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container marketing">

  <div class="row">
    <div class="span4">
      <h2>Faster</h2>
      <p>Creating reports takes up valuable time from teachers' days. We make reports quick and easy so there's more time left for what teachers to best - teaching!</p>
    </div>
    <div class="span4">
      <h2>Smarter</h2>
      <p>Writing reports using pen and paper is inefficient and certainly not smart. We allow teachers to work smarter by letting them submit reports from their phone and via email, rather than facing a mountain of reports at the end of each day.</p>
    </div>
    <div class="span4">
      <h2>Better</h2>
      <p>We make writing reports enjoyable. Teachers are therefore much more engaged with the process producing higher quality for parents and inspectors.</p>
    </div>
  </div>

  <!-- START THE FEATURETTES -->
  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right img-circle" src="/assets/woman-mobile.jpg">
    <h2 class="featurette-heading">Making reports child play</h2> 
    <h3 class="muted">-- Put away the Pritt Stick</h3>
    <p class="lead">It's been a long day, the kids have been naughty and you want to get home and put those tired feet up. But wait you haven't done your reports!</p>
    <p class="lead">
    At <%= APP_NAME %> we can't make reports go away, but we can make them incredibly easy to do. Add notes for each child from your phone, computer or by email throughout the day. It's so easy you'll actually want to do it!</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left img-circle" src="/assets/parents.jpg">
    <h2 class="featurette-heading">Keeping parents happy</h2>
    <h3 class="muted">-- Yes, they're people too</h3>
    <p class="lead">
      Pushy parents can ruin your day; it's all from love though we're sure! <%= APP_NAME %> can help your parents feel more involved with their child's education, giving them a much richer and more immediate view into each day at school.
    </p>
    <p class="lead">
      <%= APP_NAME %> allows you to give feedback quickly and simply directly to parents. Parent's can access their child's report online seeing notes you've published immediately.
    </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right img-circle" src="/assets/thumbs-up.jpg">
    <h2 class="featurette-heading">Making you proud</h2>
    <h3 class="muted">-- Give yourself a gold star</h3>
    <p class="lead">Let's face it nobody likes giving in bad work. Until now making reports has been time-consuming and downright dull.</p>
    <p class="lead"><%= APP_NAME %> takes away the pain so you can concentrate on giving great feedback for parents.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>