<%= link_to APP_NAME, root_path, :class => 'brand' %>
<ul class="nav">
  <% if is_logged_in %>
    <% if is_superuser %>
      <!-- Super user navigation -->
      <li><%= link_to "Schools", admin_schools_path %></li>
      <li><%= link_to "Users", admin_users_path %></li>
    <% else %>
      <!-- Admin navigation -->
      <li><%= link_to "Classes", :controller => "school_classes", :action => "index" %></li>
      <li><%= link_to "Children", :controller => "children", :action => "index" %></li>
    <% end %>
  <% end %>
</ul>
<ul class='nav pull-right'>
  <% if is_logged_in %>
    <li><%= link_to "Log out", logout_path %></li>
  <% else %>
    <li><%= link_to "Log in", login_path %></li>
  <% end %>
</ul>