<%= link_to image_tag("/assets/satchel.jpg", :border => 0), 
  {:action => 'index', :controller => 'home'}, :class => 'logo' %>

<ul class="sidenav">
  <% if is_logged_in %>
    <li class='label-heading'><%= session[:user_firstname] %>'s Satchl</li>
    <% if is_superuser %>
      <!-- Super user navigation -->
      <li><%= link_to "Schools", admin_schools_path %></li>
      <li><%= link_to "Users", admin_users_path %></li>
    <% else %>
      <!-- Admin navigation -->
      <!-- <li><%= link_to "Classes", :controller => "school_classes", :action => "index" %></li> -->
      <li><%= link_to "Children", :controller => "children", :action => "index" %></li>
      <li><%= link_to "Inbox", :controller => "children", :action => "index" %></li>
    <% end %>
  <% end %>
  <% if is_logged_in %>
    <li><%= link_to "Update Password", :controller => "account", :action => "updatepassword" %></li>
    <li><%= link_to "Log out", logout_path %></li>
  <% else %>
    <li><%= link_to "Log in", login_path %></li>
  <% end %>
</ul>