<%= link_to APP_NAME, root_path, :class => 'brand' %>
<ul class="nav">
  <li><%= link_to "About", { controller: 'about', action: 'features'} %></li>
  <li><%= link_to "Pricing", { controller: 'about', action: 'pricing'} %></li>
  <li><%= link_to "Contact Us", { controller: 'about', action: 'contact'} %></li>
  <li><%= link_to "FREE TRIAL", { controller: 'about', action: 'trial'}, :class => 'freetrial' %></li>
</ul>
<ul class='nav pull-right'>
  <li><%= link_to "Log in", login_path, :class => 'btn-login bg-orange' %></li>
</ul>